/vendor
/.env
.env.example
/public/storage
/public/hot
/*.key
.idea/
.vscode/
*.sublime-settings
*.sublime-workspace
Homestead.yaml
Homestead.json
Vagrantfile
/storage/*.log
/bootstrap/cache/
/cache/
phpunit.xml
phpunit.xml.dist
.DS_Store
nbproject/
*.swp
composer.lock
public/assets/css/*.blade.rendered
routes/api.php
routes/web.php
storage/
public/storage/
node_modules/
